.container {
  padding: 8px;
  overflow: auto;
}
.full {
  width: 100%;
}
.left {
  float: left;
  margin-left: 5px;
}
.right {
  float: right;
  margin-right: 5px;
}
.header {
  font-color: red;
  padding: 5px;
}
.pageContent {
  padding: inherit;
  background-color: red;
  width: auto;
}
